/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Default Classes
	------------------	*/
	
.l {float:left;}
.r {float:right;}
.cb {clear:both;}
.cl {clear:left;}
.cr {clear:right;}
.rel {position:relative;}


/*	Layout
	------------------	*/

html {}
#header{}
#page_container {
  position:relative;
  width:960px;
  margin:20px auto;
}

/* Logo */
#logo {
  width:200px;height:191px;
  margin:0 auto;
  text-indent:-9999px;
  background:url(/images/logo.png);
}

/* Navigation */
#menu {
  position:absolute;
  top:70px;left:0;
  width:100%;height:44px;
  border:1px solid #000;
  border:1px 0;
}
#menu li {
  float:left;
  list-style:none;
  width:120px;height:44px;line-height:44px;
  text-align:center;
  padding:0 20px;
}
#menu #item_2 {margin-left:260px;}

/* Footer */
footer{
  height:200px;
  width:100%;
  background: -webkit-radial-gradient(50% 0, ellipse farthest-corner,
    rgba(0,0,0,.5), #000 75%);
    no-repeat;
  background: -moz-radial-gradient(50% 0, ellipse farthest-corner,
    rgba(0,0,0,.5), #000 75%);
    no-repeat;
}